
.homepage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff; 
}


  .body
  {
    background-image: "images/bgimage.jpg";
  }