
header {
    background-color: whitesmoke;
    border-bottom: 0.5px solid grey;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 12vh;
}


.search {
    display: flex;
    align-items: center;
    width: 100%;
}

.heading {
    margin-left: 20px;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em; 
    font-weight: bold;
    flex-grow: 1; 
}

/* Menu icon styling */
.menu {
    margin-left: auto;
    padding: 5px;
}

/* SVG icon styling */
.menu svg {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu svg:hover {
    transform: scale(1.1);
}

/* Responsive design for small screens */
@media screen and (max-width: 600px) {
    .heading {
        font-size: 1.5em; 
    }
}


button{
    margin-left: 170vh;
    width: 200vh;
    font-size: 2vh;
    background-color: green;
    color: white;
    margin-bottom: 2vh;

    &:hover{
        background-color: orange;
        color: black;
        border: 2px solid black;
    }
}
