* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.search {
  display: flex;
  padding: 20px 20px;
}

#searchtex {
  height: 40px;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 60px;
  margin-left: -176px;
}

a:hover {
  color: orangered;
}

button {
  border-radius: 30px;
  margin-top: 20px;
  width: 100px;
  height: 30px;
  border: 1px solid black;
}

button:hover {
  opacity: 0.5;
  transition: all 0.5s ease-in;
}

.nav {
  border-bottom: 0.5px solid grey;
  padding: 2px;
  position: fixed;
  transition: all 600ms ease-in;
  top: 0;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.heading {
  margin-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.butt1 {
  display: flex;
  margin-left: 800px;
  gap: 8px;
}

#grid {
  display: grid;
  padding-top: 200px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.griditem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.gridimg {
  height: 60vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.gridimg:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

.details {
  text-align: center;
  padding: 10px;
  width: 100%;
  background-color: white;
}

#griditem1 .gridimg {
  background-image: url('images/kingtut.jpg');
}

#griditem2 .gridimg {
  background-image: url('images/Terracotta-Army.jpg');
}

#griditem3 .gridimg {
  background-image: url('images/Blombos-Cave-Paint-Bowl.jpg');
}

#griditem4 .gridimg {
  background-image: url('images/Bone-Flute.jpg');
}

#griditem5 .gridimg {
  background-image: url('images/Skhul-Cave-Beads.jpg');
}

#griditem6 .gridimg {
  background-image: url('images/Lowenmensch-Figurine.jpg');
}

#griditem7 .gridimg {
  background-image: url('images/Rosetta.jpg');
}

#griditem8 .gridimg {
  background-image: url('images/venusofhohlefels.jpg');
}

#griditem9 .gridimg {
  background-image: url('images/Seal-of-Indus-Valley-Civilization.jpg');
}

@media screen and (max-width: 600px) {
  #grid {
      grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 600px) {
  nav ul {
      flex-direction: column;
  }
  nav li {
      text-align: center;
  }
  .butt1 {
      display: flex;
  }
  .butt {
      flex-direction: column;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 1600;
  background-color: rgba(255, 255, 255, 0.5);
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px black;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: display 0.3s ease-in-out;
}

.sidebar.show {
  display: flex;
}

.sidebar li {
  width: 100%;
  margin-top: 20px;
  list-style: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.menu {
  margin-top: 20px;
  margin-left: 20px;
}

li {
  list-style: none;
}

@media (max-width: 800px) {
  .link {
      display: none;
  }
}

@media (max-width: 800px) {
  .butt1 {
      display: none;
  }
  .menu {
      margin-left: 200px;
  }
}
